
<%= render partial: "todo_list", object: @todo_list %>

<div class="todo_list-nav">
  <% if @todo_list.user == current_user %>
    <%= link_to "Edit List", edit_todo_list_path(@todo_list), class: 'btn btn-info' %>
    <%= link_to "Delete List", edit_todo_list_path(@todo_list), class: 'btn btn-danger',
        method: :delete,
        data: { confirm: "Are you sure you want to delete this list?"} %>
  <% end %>
</div>
